body {
  max-width: 2000px;
  max-height: 900px;
  margin: 0 auto;
  overflow: hidden;
}

.sky-wrapper {
  width: 2000px;
  height: 1200px;
  position: absolute;
  background: linear-gradient(0deg, tan 40%, aqua 50%, transparent 75%);
}

.sun {
  width: 200px;
  height: 250px;
  border-radius: 50% 50%;
  background: radial-gradient(orange 15%, red 25%, yellow 80%);
  opacity: 70%;
  margin: 0 auto;
  position: relative;
  top: 150px;
  -webkit-box-reflect: below 35px linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
}

.sky {
  width: 100%;
  height: 500px;
  background: linear-gradient(0deg, transparent 10%, orange 30%, violet);
}

.cloud-1 .circle-1 {
  width: 300px;
  height: 200px;
  border-radius: 50% 50%;
  background: #f2eeee;
}

.cloud-1 .circle-2 {
  width: 200px;
  height: 250px;
  border-radius: 50% 50%;
  background: #f5f5f5;
  position: absolute;
  top: 10px;
  left: 100px;
}

.cloud-1 .circle-3 {
  width: 100px;
  height: 125px;
  border-radius: 50% 50%;
  background: #f9f9f9;
  position: absolute;
  top: -15px;
}
.cloud-1 .circle-4 {
  width: 100px;
  height: 125px;
  border-radius: 50% 50%;
  background: #f9f9f9;
  position: absolute;
  top: 0;
  left: 250px;
}

.cloud-1 {
  position: absolute;
  top: 100px;
  width: 250px;
  height: 400px;
  -webkit-box-reflect: right;
  opacity: 70%;
}

.cloud-2 .circle-5 {
  width: 300px;
  height: 200px;
  border-radius: 50% 50%;
  background: #f2eeee;
}

.cloud-2 .circle-6 {
  width: 200px;
  height: 250px;
  border-radius: 50% 50%;
  background: #f5f5f5;
  position: absolute;
  top: 10px;
  left: 100px;
}

.cloud-2 .circle-7 {
  width: 100px;
  height: 125px;
  border-radius: 50% 50%;
  background: #f9f9f9;
  position: absolute;
  top: 10px;
  left: 50px;
}
.cloud-2 .circle-8 {
  width: 100px;
  height: 125px;
  border-radius: 50% 50%;
  background: #f9f9f9;
  position: absolute;
  top: -50px;
  left: 250px;
}

.cloud-2 {
  position: absolute;
  top: 100px;
  right: 300px;
  width: 250px;
  height: 200px;
  -webkit-box-reflect: right;
  opacity: 70%;
}

.cloud-3 .circle-9 {
  width: 300px;
  height: 200px;
  border-radius: 50% 50%;
  background: #f2eeee;
  position: absolute;
  top: 50px;
}

.cloud-3 .circle-10 {
  width: 200px;
  height: 250px;
  border-radius: 50% 50%;
  background: #f5f5f5;
  position: absolute;
  top: 10px;
  left: 100px;
}

.cloud-3 .circle-11 {
  width: 100px;
  height: 125px;
  border-radius: 50% 50%;
  background: #f9f9f9;
  position: absolute;
  top: 10px;
  left: 50px;
}
.cloud-3 .circle-12 {
  width: 100px;
  height: 125px;
  border-radius: 50% 50%;
  background: #f9f9f9;
  position: absolute;
  top: -50px;
  left: 250px;
}

.cloud-3 {
  position: absolute;
  top: 175px;
  left: 800px;
  width: 250px;
  height: 400px;
  -webkit-box-reflect: right;
  opacity: 70%;
}

.table {
  display: flex;
  align-items: flex-end;
  width: 1000px;
  height: 350px;
  border-radius: 75px 75px 0 0;
  background: #985d5d;
  margin: 0 auto;
  position: relative;
  top: 350px;
  z-index: 150;
  overflow: hidden;
}

.ashtray {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(46, 204, 65);
  position: absolute;
  top: 50px;
  left: 450px;
  box-shadow: inset 0 0 10px 5px green;
}

.ashtray-cutout {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: rgb(39, 151, 53);
  margin: 10px auto;
  box-shadow: inset 0 0 10px 5px green;
}


.joint {
  width: 15px;
  height: 75px;
  border-radius: 5px 5px 0 0;
  background: rgb(175, 158, 124);
  margin: 0 auto;
  position: absolute;
  left: 13px;
  top: 44px;
  rotate: 45deg
}

.cherry {
  width: 15px;
  height: 5px;
  background: red;
  margin: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.filter {
  width: 15px;
  height: 20px;
  background: rgb(165, 123, 92);
  margin-top: 50px;
}

.ash {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: grey;
  position: absolute;
  bottom: 40px;
  left: 58px;
}
.arm-1 .arm {
  background: #714343;
  width: 265px;
  height: 100px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  rotate: 315deg;
}
.arm-1 {
  display: flex;
  align-content: flex-start;
  width: 300px;
  height: 100px;
  margin-left: 10px;
}

.arm-2 .arm {
  background: #e2d1a2;
  width: 275px;
  height: 100px;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  rotate: 235deg;
}
.arm-2 {
  display: flex;
  align-content: flex-start;
  width: 300px;
  height: 100px;
  margin-left: 400px;
}

.hand-1 {
  display: block;
  background: #714343;
  width: 100px;
  height: 110px;
  border-radius: 25% 10%;
  position: absolute;
  left: 190px;
  bottom: 100px;
  transform: rotate(315deg);
}

.thumb-1 {
  width: 25px;
  height: 75px;
  background: #714343;
  position: relative;
  left: 55px;
  bottom: 50px;
  border-radius: 30px 30px 0 0;
  rotate: 40deg;
}

.index-1 {
  width: 25px;
  height: 80px;
  background: #714343;
  position: absolute;
  left: 123px;
  bottom: 55px;
  border-radius: 30px 30px 0 0;
  rotate: 90deg
}

.middle-1 {
  width: 25px;
  height: 125px;
  background: #714343;
  position: absolute;
  left: 140px;
  bottom: 6px;
  border-radius: 30px 30px 0 0;
  rotate: 90deg
}

.ring-1 {
  width: 25px;
  height: 120px;
  background: #714343;
  position: absolute;
  left: 135px;
  bottom: -17px;
  border-radius: 30px 30px 0 0;
  rotate: 90deg
}

.pinky-1 {
  width: 25px;
  height: 75px;
  background: #714343;
  position: absolute;
  left: 108px;
  bottom: -23px;
  border-radius: 30px 30px 0 0;
  rotate: 90deg
}

.hand-2 {
  display: block;
  background: #e2d1a2;
  width: 100px;
  height: 110px;
  border-radius: 25% 10%;
  position: absolute;
  left: 705px;
  bottom: 118px;
  transform: rotate(225deg);
}

.thumb-2 {
  width: 25px;
  height: 75px;
  background: #e2d1a2;
  position: relative;
  left: 55px;
  bottom: 50px;
  border-radius: 30px 30px 0 0;
  rotate: 40deg;
}

.index-2 {
  width: 25px;
  height: 80px;
  background: #e2d1a2;
  position: absolute;
  left: 123px;
  bottom: 55px;
  border-radius: 30px 30px 0 0;
  rotate: 90deg
}

.middle-2 {
  width: 25px;
  height: 125px;
  background: #e2d1a2;
  position: absolute;
  left: 140px;
  bottom: 6px;
  border-radius: 30px 30px 0 0;
  rotate: 90deg
}

.ring-2 {
  width: 25px;
  height: 120px;
  background: #e2d1a2;
  position: absolute;
  left: 135px;
  bottom: -17px;
  border-radius: 30px 30px 0 0;
  rotate: 90deg
}

.pinky-2 {
  width: 25px;
  height: 75px;
  background: #e2d1a2;
  position: absolute;
  left: 108px;
  bottom: -23px;
  border-radius: 30px 30px 0 0;
  rotate: 90deg
}